#container {
  margin-top: 30px;
  background-color: yellow;
}
img {
  border-radius: 5px;
  width: 300px;
  height: 250px;
  cursor: pointer;
}
#photo_qtty {
  background-color: darkblue;
  text-align: center;
  width: 80%;
  margin: auto;
  p {
    font-size: 1.1em;
    color: white;
    padding: 5px;
  }
}
#no_photo, #error {
  background-color: red;
  text-align: center;
  width: 80%;
  margin: auto;
  p {
    font-size: 1.4em;
    color: white;
    padding: 20px;
  }
}
#grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#spinner {
  display: flex;
  justify-content: space-around;
}

