
<div id="container">
  <div *ngIf="spinner" id="spinner">
     <mat-spinner></mat-spinner>
     <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="error && !spinner" id="error">
     <p>{{error}}</p>
  </div>
  <div *ngIf="photos">
    <div *ngIf="photos.length == 0 && !spinner" id="no_photo">
      <p>Nothing found </p>
    </div>
    <div id="grid" *ngIf="photos.length > 0 && !spinner">
      <div class="grid-item"
        *ngFor="let photo of photos; let i = index;">
        <a href="{{photo.img_src}}" target="_blank">
          <img src="{{photo.img_src}}" alt="{{photo.id}}" id="img_{{i}}"/>
        </a>
      </div>
    </div>
  </div>
</div>
