#container {
  width: 80%;
  margin: auto;
}
.mat-card {
  height: 45px;
  margin-bottom: 10px;
  padding-top: 0;
}
.mat-form-field {
  width: 100%;
}

form {
  width: 80%;
  margin: auto;
}
#photo_result {
  height: 55px;
  display: flex;
  align-items: center;
}
.photo_found {
  padding: 10px;
  margin-left: 10px;
  background-color: cadetblue;
  border-radius: 5px;
  color: white;
}

@media (max-width: 475px) {
  button {
    width: 100%;
  }
}
