#container {
  width: 80%;
  margin: auto;
}
.mat-card {
  height: 45px;
  margin-bottom: 10px;
  padding-top: 0;
}
.mat-form-field {
  width: 100%;
}
//.mat-card-content {
  // margin-bottom: 20px;
 // background-color: green;
//}
form {
  width: 80%;
  margin: auto;
}

@media (max-width: 475px) {
  button {
    width: 100%;
  }
}
// button {
//   margin-left: 10%;
// }
